.bodyHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    height: 60px;
    background-image: url(../../public/img/bannerLavaDue.webp);
    background-size: cover;
    background-repeat: repeat;
}
.logo{
    width: 100px;
    height: 100%;
  }
  .magicButton {
    font-family: 'Cinzel', serif; 
    font-size: 18px;
    color: #72f706;
    margin: 3px;
    background: linear-gradient(45deg, #826400, #e22b2b, #080a00);
    border: 2px solid #030005;
    padding: 12px 24px;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(138, 43, 226, 0.7);
}

.magicButton::before {
    content: "ᛟ ᚨ ᚾ ᛞ ᛖ ᚱ"; 
    font-size: 14px;
    position: absolute;
    top: 1px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.6;
}

.magicButton:hover {
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.9);
    background: linear-gradient(45deg, #00ffff, #8a2be2, #4b0082);
    border-color: #00ffff;
}

.magicButton:active {
    transform: scale(0.95);
}



@media (max-width: 768px) {

    .magicButton {
    font-family: 'Cinzel', serif; 
    font-size: 10px;
    color: #72f706;
    margin: 3px;
    background: linear-gradient(45deg, #826400, #e22b2b, #080a00);
    border: 2px solid #030005;
    padding: 12px 24px;
 
}
.magicButton::before {
    content: "ᛟ ᚨ ᚾ ᛞ ᛖ ᚱ"; 
    font-size: 8px;
    position: absolute;
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.6;
}
}

    /* Stile menu hamburger su mobile */
    @media (max-width: 650px) {
    
        .magicButton {
            font-family: 'Cinzel', serif; 
            font-size: 8px;
            color: #72f706;
            margin: 1px;
            background: linear-gradient(45deg, #826400, #e22b2b, #080a00);
            border: 2px solid #030005;
            padding: 4px 6px;
            border-radius: 8px;
            text-transform: uppercase;
            letter-spacing:0px;
            position: relative;
            overflow: hidden;
            transition: 0.3s ease-in-out;
            cursor: pointer;
            box-shadow: 0 0 10px rgba(138, 43, 226, 0.7);
        }
        
        .magicButton::before {
            content: "ᛟ ᚨ ᚾ ᛞ ᛖ ᚱ"; 
            font-size: 2px;
            position: absolute;
            top: 1px;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0.6;
        }

}
@media (max-width: 420px) {
    
    
    .buttonZone{
        display: flex;
        flex-direction: column;
    }

}